<% if @answers.any? %>  
  <h3 id="answer-list">Answers</h3>
  <% @answers.each do |answer| %>
      <section class="answer">

        <ul>
				<%= answer.votes.map(&:description).inject(:+) %>
            <li><%= answer.content %></li>
              <%= render :partial => "partials/votes", :locals => { :answer => answer } %>
              <%= render :partial => "partials/answer_comments", :locals => {:comments => answer.comments} %>
              <%= render :partial => "partials/answer_comment_form", :locals => { :answer => answer.id} %>
        </ul>
      </section>
  <% end %>
<% end %>


